# H-2A VISAS ISSUED BY COUNTRY (2010-2020)
- Datasets were cleaned in Excel to remove irrelevant rows (eg. subtotals and blank rows)
- CURRENT STATUS: FINISHED 2015, ON 2016

In [1]:
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import requests as re

Extra resource in case I want to read in a specific range:
- https://stackoverflow.com/questions/38560748/python-pandas-dataframe-reading-exact-specified-range-in-an-excel-sheet

## H-2A Visas Issued by Country FY2010

In [2]:
# Read in 2010
df_2010 = pd.read_excel('../data_clean/FY2010_H2A_by_country_clean.xls')
df_2010['Year'] = '2010'
df_2010.head()

        Country  A-1  A-2  A-3  B-1  B-1,2  B-2  B-1,2/BCC  B-1,2/BCV  C-1  C-1/D  C-2  C-3   D  D-CREW  E-1  E-2  E-3  E-3D  E-3R  F-1  F-2  F-3  G-1  G-2  G-3  G-4  G-5  H-1A  H-1B  H-1B1  H-1C  H-2A  H-2B  H-3  H-4   I  J-1  J-2  K-1  K-2  K-3  K-4  L-1  L-2  M-1  M-2  M-3  NATO-1  NATO-2  NATO-3  NATO-4  NATO-5  NATO-6  NATO-7  N-8  N-9  O-1  O-2  O-3  P-1  P-2  P-3  P-4  Q-1  Q-2  Q-3  R-1  R-2  S-5  S-6  S-7  TN  TD  T-1  T-2  T-3  T-4  T-5  U-1  U-2  U-3  U-4  U-5  V-1  V-2  V-3  Total Visas  BCC  Grand Total  Year
0       Algeria   46  182    1  992   4246  201          0          0   12      4    0    1  56       0    0    1    0     0     0  113    2    0   58   96    0   76    0     0    15      0     0     0     0    1    6   4  189   14   29    0   15    0   11   18    2    0    0       0       0       0       0       0       0       0    2    0    2    1    0    5    0    0    0    0    0    0    0    0    0    0    0   0   3    0    0    0    0    0    0    0    0    0    0    0    0    0         6404  0.0         6404  2010
1        Angola   76  110    6  238   2473  562          0          0   17    105    0    0   8       0    0    0    0     0     0  538   22    0   13   76    0    7    0     0    12      0     0     0     0    8    5  16   39    5    4    0    0    0   58  103    2    0    0       0       0       0       0       0       0       0    0    0    0    0    0    2    0    0    0    0    0    0    1    0    0    0    0   0   0    0    0    0    0    0    0    0    0    0    0    0    0    0         4506  0.0         4506  2010
2         Benin    7   90    0   43   1062  119          0          0    2      0    1   12   0       0    0    0    0     0     0  164    3    0   18   46    0   50    0     0    10      0     0     0     0    0    0   7   29    2    1    0    0    0    4    2    0    0    0       0       0       0       0       0       0       0    0    0    0    0    1   10    0    0    0    8    0    0    0    0    0    0    0   0   0    0    0    0    0    0    0    0    0    0    0    0    0    0         1691  0.0         1691  2010
3      Botswana   15  119    0    4    767    6          0          0    4     10    0    0   0       0    0    0    0     0     0   70    6    0   15   26    0   29    0     0     7      0     0     0     0    0    2   1   85    0    2    0    0    0    1    1    2    0    0       0       0       0       0       0       0       0    0    0    0    0    0    0    0    0    0   18    0    0    0    1    0    0    0   0   0    0    0    0    0    0    0    0    0    0    0    0    0    0         1191  0.0         1191  2010
4  Burkina Faso    1   51    1    5   1101    6          0          0    4      0    0   40   0       0    1    0    0     0     0  420    7    0    5   74    1   49    2     0    15      0     0     0     0    0    5   1   62    1    7    1    1    0    2    2    1    0    0       0       0       0       0       0       0       0    0    0    2    4    0    1    0   16    0    0    0    0    0    0    0    0    0   0   0    0    0    1    0    0    0    0    0    0    0    0    0    0         1890  0.0         1890  2010

In [3]:
# Total H-2A visas issued in 2010
total_2010 = df_2010['H-2A'].sum()
total_2010

55921

In [4]:
# Subset 3 columns: Country, H-2A, Total Visas & sort by top 5 countries with most H-2A visas
subset_2010 = df_2010[['Country', 'Year', 'H-2A', 'Total Visas']]
top5_2010 = subset_2010.sort_values(by=['H-2A'], ascending=False).head(5)
top5_2010

          Country  Year   H-2A  Total Visas
165        Mexico  2010  52317      1130478
44   South Africa  2010   1123        51052
194          Peru  2010    830        64976
161     Guatemala  2010    660        52378
134       Romania  2010    206        31647

## H-2A Visas Issued by Country FY2011

In [5]:
# Read in 2011
df_2011 = pd.read_excel('../data_clean/FY2011_H2A_by_country_clean.xls')
df_2011['Year'] = '2011'
df_2011.head()

        Country  A-1  A-2  A-3  B-1  B-1,2  B-2  B-1,2/BCC  B-1,2/BCV  C-1  C-1/D  C-2  C-3   D  D-CREW  E-1  E-2  E-2C  E-3  E-3D  E-3R  F-1  F-2  F-3  G-1  G-2  G-3  G-4  G-5  H-1A  H-1B  H-1B1  H-1C  H-2A  H-2B  H-3  H-4   I  J-1  J-2  K-1  K-2  K-3  K-4  L-1  L-2  M-1  M-2  M-3  NATO-1  NATO-2  NATO-3  NATO-4  NATO-5  NATO-6  NATO-7  N-8  N-9  O-1  O-2  O-3  P-1  P-2  P-3  P-4  Q-1  Q-2  Q-3  R-1  R-2  S-5  S-6  S-7  TN  TD  T-1  T-2  T-3  T-4  T-5  U-1  U-2  U-3  U-4  U-5  V-1  V-2  V-3  Total Visas  BCC  Grand Total  Year
0       Algeria   38  148    0  755   4253    6          0          0   17      4    0    0  54       0    0    2     0    0     0     0  102    8    0   21   88    0   40    0     0    17      0     0     0     0    4    7  26  214   22   22    1    0    0   10   12    1    0    0       0       0       0       0       0       0       0    0    0    1    2    0    1    0    4    0    0    0    0    0    0    0    0    0   0   1    0    0    0    0    0    1    0    0    0    0    0    0    0         5882  0.0         5882  2011
1        Angola  104   92    1  160   3471  601          0          0    4    114    0    2  22       0    0    0     0    0     0     0  579   32    0   43  157    0    8    0     0     2      0     0     0     0    6    3  21   53   21    0    2    1    0   85   81   11    0    0       0       0       0       0       0       0       0    0    0    0    0    0    0    0    1    0    0    0    0    1    0    0    0    0   0   0    0    0    0    0    0    0    0    0    0    0    0    0    0         5678  0.0         5678  2011
2         Benin   36   72    0   39    972  140          0          0    4      0    0    0   1       0    0    0     0    0     0     0  219    1    0   20   45    0   54    3     0     5      0     0     0     0    0    1   9   22    3    3    2    1    0    1    3    1    0    0       0       0       0       0       0       0       0    0    0    2    0    0    1    0    1    0    0    0    0    1    0    0    0    0   0   0    0    0    0    0    0    0    0    0    0    0    0    0    0         1662  0.0         1662  2011
3      Botswana    9   70    1    1    899    0          0          0   25      8    0    1   0       0    0    0     0    0     1     0   73    8    0    7   34    0   12    0     0    13      0     0     0     0    0    1   0   68   11    2    0    0    0    3    1    1    0    0       0       0       0       0       0       0       0    0    0    1    0    0    0    0    0    0   23    0    0    0    0    0    0    0   0   0    0    0    0    0    0    0    0    0    0    0    0    0    0         1273  0.0         1273  2011
4  Burkina Faso   15   44    1    4   1215    7          0          0    6      0    0   66   0       0    0    0     0    0     0     0  378    3    0   15   76    0   35    1     0    12      0     0     0     0    0    5   0   60    7    8    3    0    0    0    0    0    0    0       0       0       0       0       0       0       0    0    0    2    1    0    2    0    1    0    0    0    0    0    0    0    0    0   0   0    0    0    0    0    0    0    0    0    0    0    0    0    0         1967  0.0         1967  2011

In [6]:
# Total H-2A visas issued in 2011
total_2011 = df_2011['H-2A'].sum()
total_2011

55384

In [7]:
# Subset 3 columns: Country, H-2A, Total Visas & sort by top 5 countries with most H-2A visas
subset_2011 = df_2011[['Country', 'Year', 'H-2A', 'Total Visas']]
top5_2011 = subset_2011.sort_values(by=['H-2A'], ascending=False).head(5)
top5_2011

          Country  Year   H-2A  Total Visas
166        Mexico  2011  51927      1315116
44   South Africa  2011   1018        60152
195          Peru  2011    809        70850
162     Guatemala  2011    624        57401
167     Nicaragua  2011    240        15089

## H-2A Visas Issued by Country FY2012

In [8]:
# Read in 2012
df_2012 = pd.read_excel('../data_clean/FY2012_H2A_by_country_clean.xls')
df_2012['Year'] = '2012'
df_2012.head()

        Country  A-1  A-2  A-3  B-1  B-1,2  B-2  B-1,2/BCC  B-1,2/BCV  C-1  C-1/D  C-2  C-3  CW-1  CW-2   D  D-CREW  E-1  E-2  E-2C  E-3  E-3D  E-3R  F-1  F-2  F-3  G-1  G-2  G-3  G-4  G-5  H-1A  H-1B  H-1B1  H-1C  H-2A  H-2B  H-3  H-4   I  J-1  J-2  K-1  K-2  K-3  K-4  L-1  L-2  M-1  M-2  M-3  NATO-1  NATO-2  NATO-3  NATO-4  NATO-5  NATO-6  NATO-7  N-8  N-9  O-1  O-2  O-3  P-1  P-2  P-3  P-4  Q-1  Q-2  Q-3  R-1  R-2  S-5  S-6  S-7  TN  TD  T-1  T-2  T-3  T-4  T-5  U-1  U-2  U-3  U-4  U-5  V-1  V-2  V-3  Total Visas  BCC  Grand Total  Year
0       Algeria   50  433    0  589   5472   31          0          0   14      2    0    0     0     0  53       0    1    0     0    0     0     0  184    5    0   40   64    0   64    0     0     8      0     0     0     0    1    5  16  222   11   53    0    1    0   20   17    1    0    0       0       0       0       0       0       0       0    0    0    0    0    1    2    1    1    0    0    0    0    0    0    0    0    0   0   2    0    0    0    0    0    0    0    0    0    0    0    0    0         7364  0.0         7364  2012
1        Angola   77  169    1   10   5505  636          0          0   23    164    0    0     0     0   0       0    0    0     0    0     0     0  706   39    0   49  109    0   21    1     0     6      0     0     0     0   18    5   5   49   10    0    0    0    0   61  103    7    0    0       0       0       0       0       0       0       0    0    0    3    0    0    1    0    0    0    0    0    0    0    0    0    0    0   0   0    0    0    0    0    0    0    0    0    0    0    0    0    0         7778  0.0         7778  2012
2         Benin   41  109    0    6   1204    9          0          0    5      0    0    4     0     0   2       0    0    0     0    0     0     0  234    2    0   28   60    0   48    0     0    10      0     0     0     0    0    2   6   29    5    3    1    0    0    0    1    1    0    0       0       0       0       0       0       0       0    0    0    0    1    0   10    0    0    0    0    0    0    0    0    0    0    0   0   0    0    0    0    0    0    0    0    0    0    0    0    0    0         1821  0.0         1821  2012
3      Botswana   16   88    0    0    921    2          0          0   42     12    0    0     0     0   0       0    0    0     0    0     1     0   64    5    0    6   17    0   30    0     0    14      0     0     0     0    1    3   3   71    0    2    3    0    0    7    3    2    0    0       0       0       0       0       0       0       0    0    0    0    1    0    1    0    0    0   25    0    0    1    0    0    0    0   0   0    0    0    0    0    0    0    0    0    0    0    0    0    0         1341  0.0         1341  2012
4  Burkina Faso   24  109    3    3   1569    4          0          0    6      0    0   66     0     0   0       0    0    0     0    0     0     0  520    2    0   24   50    0   77    7     0    11      0     0     0     0    0    4   3   79    4    8    1    0    0    1    5    2    0    0       0       0       0       0       0       0       0    0    0    1    0    0    0    0    4    0    0    0    0    0    0    0    0    0   0   1    0    0    0    0    0    0    0    0    0    0    0    0    0         2588  0.0         2588  2012

In [9]:
# Total H-2A visas issued in 2012
total_2012 = df_2012['H-2A'].sum()
total_2012

65345

In [10]:
# Subset 3 columns: Country, H-2A, Total Visas & sort by top 5 countries with most H-2A visas
subset_2012 = df_2012[['Country', 'Year', 'H-2A', 'Total Visas']]
top5_2012 = subset_2012.sort_values(by=['H-2A'], ascending=False).head(5)
top5_2012

          Country  Year   H-2A  Total Visas
166        Mexico  2012  61324      1693133
44   South Africa  2012   1122        62516
195          Peru  2012    993        75701
162     Guatemala  2012    702        59134
167     Nicaragua  2012    260        16911

## H-2A Visas Issued by Country FY2013

In [11]:
# Read in 2013
df_2013 = pd.read_excel('../data_clean/FY2013_H2A_by_country_clean.xls')
df_2013['Year'] = '2013'
df_2013.head()

        Country  A-1  A-2  A-3  B-1  B-1,2  B-2  B-1,2/BCC  B-1,2/BCV  C-1  C-1/D  C-2  C-3  CW-1  CW-2   D  D-CREW  E-1  E-2  E-2C  E-3  E-3D  E-3R  F-1  F-2  F-3  G-1  G-2  G-3  G-4  G-5  H-1A  H-1B  H-1B1  H-1C  H-2A  H-2B  H-3  H-4   I  J-1  J-2  K-1  K-2  K-3  K-4  L-1  L-2  M-1  M-2  M-3  NATO-1  NATO-2  NATO-3  NATO-4  NATO-5  NATO-6  NATO-7  N-8  N-9  O-1  O-2  O-3  P-1  P-2  P-3  P-4  Q-1  Q-2  Q-3  R-1  R-2  S-5  S-6  S-7  TN  TD  T-1  T-2  T-3  T-4  T-5  U-1  U-2  U-3  U-4  U-5  V-1  V-2  V-3  Total Visas  BCC  Grand Total  Year
0       Algeria   55  462    1   85   7329   51          0          0   10      3    0    0     0     0  53       0    0    0     0    0     0     0  136    2    0   39   57    0   41    0     0    14      0     0     0     0   10   12  19  276   14   42    0    0    0   19   22    1    0    0       0       0       0       0       0       0       0    0    0    0    1    0    2    0   16    0    0    0    0    0    0    0    0    0   0   2    0    0    0    0    0    0    0    0    0    0    0    0    0         8774    0         8774  2013
1        Angola   78  142    0   36   6363  841          0          0    5    124    0    1     0     0   0       0    0    5     0    0     0     0  942   27    0   46  151    0   12    3     0     8      0     0     0     0   22   13  32   34    8    2    0    0    0   70  113   12    0    0       0       0       0       0       0       0       0    0    0    1    0    0    0    0    0    0    0    0    0    0    0    0    0    0   0   0    0    0    0    0    0    0    0    0    0    0    0    0    0         9091    0         9091  2013
2         Benin   20   78    0    9   1162   15          0          0    3      0    0    3     0     0   0       0    0    0     0    0     0     0  130    1    0   29   39    0   50    2     0     4      0     0     0     0    0    1   7   31    2    7    1    0    0    1    1    0    0    0       0       0       0       0       0       0       0    0    0    1    0    0    0    0    1    0    0    0    0    0    0    0    0    0   0   0    0    0    0    0    0    0    0    0    0    0    0    0    0         1598    0         1598  2013
3      Botswana   15   42    0    0    772    2          0          0   31     11    0    0     0     0   0       0    0    0     0    0     0     0   58    9    0    5   30    0   24    0     0     6      0     0     0     0    0    8   0   81   11    1    0    0    0    2    0    2    0    0       0       0       0       0       0       0       0    0    0    0    0    0    0    0    0    0   19    0    0    0    0    0    0    0   0   0    0    0    0    0    0    0    0    0    0    0    0    0    0         1129    0         1129  2013
4  Burkina Faso   28  109    2    1   1757    1          0          0    8      0    0   26     0     0   2       0    0    0     0    0     0     0  551    8    0   12   60    0   51    2     0    12      0     0     0     0    0    4  10   42    2   11    1    0    0    1    4    1    0    0       0       0       0       0       0       0       0    0    0    0    1    0    0    0    0    0    0    0    0    1    0    0    0    0   0   0    0    0    0    0    0    1    0    0    0    0    0    0    0         2709    0         2709  2013

In [12]:
# Total H-2A visas issued in 2013
total_2013 = df_2013['H-2A'].sum()
total_2013

74192

In [13]:
# Subset 3 columns: Country, H-2A, Total Visas & sort by top 5 countries with most H-2A visas
subset_2013 = df_2013[['Country', 'Year', 'H-2A', 'Total Visas']]
top5_2013 = subset_2013.sort_values(by=['H-2A'], ascending=False).head(5)
top5_2013

          Country  Year   H-2A  Total Visas
165        Mexico  2013  69787      1510106
44   South Africa  2013   1298        59038
161     Guatemala  2013    982        51513
194          Peru  2013    838        83651
166     Nicaragua  2013    276        20052

## H-2A Visas Issued by Country FY2014

In [14]:
# Read in 2014
df_2014 = pd.read_excel('../data_clean/FY2014_H2A_by_country_clean.xls')
df_2014['Year'] = '2014'
df_2014.head()

        Country  A-1  A-2  A-3  B-1  B-1,2  B-2  B-1,2/BCC  B-1,2/BCV  C-1  C-1/D  C-2  C-3  CW-1  CW-2   D  E-1  E-2  E-2C  E-3  E-3D  E-3R  F-1  F-2  F-3  G-1  G-2  G-3  G-4  G-5  H-1B  H-1B1  H-1C  H-2A  H-2B  H-3  H-4   I  J-1  J-2  K-1  K-2  K-3  K-4  L-1  L-2  M-1  M-2  M-3  NATO-1  NATO-2  NATO-3  NATO-4  NATO-5  NATO-6  NATO-7  N-8  N-9  O-1  O-2  O-3  P-1  P-2  P-3  P-4  Q-1  R-1  R-2  S-5  S-6  S-7  TN  TD  T-1  T-2  T-3  T-4  T-5  T-6  U-1  U-2  U-3  U-4  U-5  Total Visas  BCC  Grand Total  Year
0       Algeria   42  246    0   31  10455   45          0          0   12      3    0    0     0     0  58    0    1     0    0     0     0  160    9    0   43   66    0   55    0    22      0     0     0     0    7    3  12  234   16   88    1    2    1   26   27    8    0    0       0       0       0       0       0       0       0    0    0    0    0    0    0    0    0    0    0    0    0    0    0    0   0   3    0    0    0    0    0    0    0    0    0    0    0        11676    0        11676  2014
1        Angola   99  224    5   26   6844  824          0          0    3    137    0    7     0     0   0    0    0     0    0     0     0  986   27    0   31  158    0   10    1     5      0     0     0     0   14   13  45   66   14    0    0    0    0   66   98   13    0    0       0       0       0       0       0       0       0    0    0    1    0    0    0    0    0    0    0    1    1    0    0    0   0   0    0    0    0    0    0    0    0    0    0    0    0         9719    0         9719  2014
2         Benin   45  134    1    4   1365   14          0          0    8      0    0    0     0     0   1    0    0     0    0     0     0  180    3    0   26   34    0   47    1     5      0     0     0     0    0    1   7   35    4    8    1    0    0    0    2    0    0    0       0       0       0       0       0       0       0    0    0    3    0    0    2    0    9    0    0    4    0    0    0    0   0   0    0    0    0    0    0    0    0    0    0    0    0         1944    0         1944  2014
3      Botswana    6   60    0    5    879    4          0          0    5      1    0    3     0     0   0    0    0     0    0     1     0   87   10    0    6   36    0   25    1     5      0     0     1     2   15    0   1   84    7    4    0    0    0    5    0    1    0    0       0       0       0       0       0       0       0    0    0    1    0    0    1    0    0    0   21    1    0    0    0    0   0   0    0    0    0    0    0    0    0    0    0    0    0         1278    0         1278  2014
4  Burkina Faso   29   92    3    2   3161    1          0          0    9      0    0   42     0     0   2    0    0     0    0     0     0  624    8    0    9   84    0   35    5     7      0     0     0     0    0    1   6   70    1   12    1    0    0    0    1    0    0    0       0       0       0       0       0       0       0    0    0    0    0    0    1    0    0    0    0    3    1    0    0    0   0   0    0    0    0    0    0    0    0    0    0    0    0         4210    0         4210  2014

In [15]:
# Total H-2A visas issued in 2014
total_2014 = df_2014['H-2A'].sum()
total_2014

89274

In [16]:
# Subset 3 columns: Country, H-2A, Total Visas & sort by top 5 countries with most H-2A visas
subset_2014 = df_2014[['Country', 'Year', 'H-2A', 'Total Visas']]
top5_2014 = subset_2014.sort_values(by=['H-2A'], ascending=False).head(5)
top5_2014

          Country  Year   H-2A  Total Visas
165        Mexico  2014  83674      1478401
44   South Africa  2014   1591        60238
161     Guatemala  2014   1453        62818
194          Peru  2014    790       100726
163      Honduras  2014    525        47548

## H-2A Visas Issued by Country FY2015

In [17]:
# Read in 2015
df_2015 = pd.read_excel('../data_clean/FY2015_H2A_by_country_clean.xls')
df_2015['Year'] = '2015'
df_2015.head()

        Country  A-1  A-2  A-3  B-1  B-1,2   B-2  B-1,2/BCC  B-1,2/BCV  C-1  C-1/D  C-2  C-3  CW-1  CW-2   D  E-1  E-2  E-2C  E-3  E-3D  E-3R  F-1  F-2  F-3  G-1  G-2  G-3  G-4  G-5  H-1B  H-1B1  H-1C  H-2A  H-2B  H-3  H-4   I  J-1  J-2  K-1  K-2  K-3  K-4  L-1  L-2  M-1  M-2  M-3  NATO-1  NATO-2  NATO-3  NATO-4  NATO-5  NATO-6  NATO-7  N-8  N-9  O-1  O-2  O-3  P-1  P-2  P-3  P-4  Q-1  R-1  R-2  S-5  S-6  S-7  TN  TD  T-1  T-2  T-3  T-4  T-5  T-6  U-1  U-2  U-3  U-4  U-5  Total Visas  BCC  Grand Total  Year
0       Algeria   88  360    0   11  12085    19          0          0   10      3    0    1     0     0  53    0    0     0    0     0     0  223    8    0   55   95    0   47    0    10      0     0     0     0  104  102  24  225   23   62    2    0    0   15   30   12  0.0    0       0       0       0       0       0       0       0    0    0    0    0    0   16    0    1    0    1    0    0    0    0    0   0   4    0    0    0    0    0    0    0    0    0    0    0      13689.0    0      13689.0  2015
1        Angola   78  105    1    2   7611  1102          0          0    5    139    0    0     0     0   2    0    0     0    0     0     0  947   51    0   84  167    0   11    2     3      0     0     0     0    5   10  19   54    8    2    0    0    0   50   81   12  1.0    0       0       0       0       0       0       0       0    0    0    5    1    0    0    0    5    0    0    1    1    0    0    0   0   0    0    0    0    0    0    0    0    0    0    0    0      10565.0    0      10565.0  2015
2         Benin   31  116    0    3   1519     5          0          0    5      1    0    0     0     0   4    0    0     0    0     0     0  262    2    0   15   58    0   47    1     7      0     0     0     0    0    3   4   47    7    9    0    0    0    3    1    0  0.0    0       0       0       0       0       0       0       0    0    0    2    0    0    0    0    0    0    0    3    0    0    0    0   0   0    0    0    0    0    0    0    0    0    0    0    0       2155.0    0       2155.0  2015
3      Botswana   15   97    1   22   1053     1          0          0    4      6    0    1     0     0   0    0    0     0    0     0     0   77    5    0   20   39    0   12    3     8      0     0     0     0    0    4   0   97    2    4    0    0    0    3    0    7  0.0    0       0       0       0       0       0       0       0    0    0    1    0    0    0    0    0    0   20    0    0    0    0    0   0   0    0    0    0    0    0    0    0    0    0    0    0       1502.0    0       1502.0  2015
4  Burkina Faso   11   96    1    6   4276    29          0          0    6      0    1   11     0     0   4    0    1     0    0     0     0  689    6    0    9  106    3   48    6     7      0     0     0     0    1    0  17   58   10    8    0    1    0    1    0    3  0.0    0       0       0       0       0       0       0       0    0    0    1    0    0    8    0    0    0    0    0    0    0    0    0   0   0    0    0    0    0    0    0    0    0    0    0    0       5424.0    0       5424.0  2015

In [18]:
# Total H-2A visas issued in 2015
total_2015 = df_2015['H-2A'].sum()
total_2015

108144

In [19]:
# Subset 3 columns: Country, H-2A, Total Visas & sort by top 5 countries with most H-2A visas
subset_2015 = df_2015[['Country', 'Year', 'H-2A', 'Total Visas']]
top5_2015 = subset_2015.sort_values(by=['H-2A'], ascending=False).head(5)
top5_2015

          Country  Year    H-2A  Total Visas
165        Mexico  2015  102174    1479109.0
44   South Africa  2015    1947      61997.0
161     Guatemala  2015    1426      55618.0
194          Peru  2015    1019     111918.0
166     Nicaragua  2015     363      19656.0

## H-2A Visas Issued by Country FY2016

In [20]:
# Read in 2016
df_2016 = pd.read_excel('../data_clean/FY2016_H2A_by_country_clean.xls')
df_2016['Year'] = '2016'
df_2016.head()

        Country  A-1  A-2  A-3  B-1  B-1,2  B-2  B-1,2/BCC  B-1,2/BCV  C-1  C-1/D  C-2  C-3  CW-1  CW-2    D  E-1  E-2  E-2C  E-3  E-3D  E-3R  F-1  F-2  F-3  G-1  G-2  G-3  G-4  G-5  H-1B  H-1B1  H-1C  H-2A  H-2B  H-3  H-4   I  J-1  J-2  K-1  K-2  K-3  K-4  L-1  L-2  M-1  M-2  M-3  NATO-1  NATO-2  NATO-3  NATO-4  NATO-5  NATO-6  NATO-7  N-8  N-9  O-1  O-2  O-3  P-1  P-2  P-3  P-4  Q-1  R-1  R-2  S-5  S-6  S-7  TN  TD  T-1  T-2  T-3  T-4  T-5  T-6  U-1  U-2  U-3  U-4  U-5  Total Visas  BCC  Grand Total  Year
0       Algeria   42  359    0   15  14503   20          0          0   30     10    0    1     0     0  109    0    2     0    0     0     0  253   10    0   20   78    0   42    0    18      0     0     0     0   14   30  16  292   13   75    0    0    0   26   24   76    0    0       0       0       0       0       0       0       0    0    0    0    0    0   25    0    1    0    0    0    0    0    0    0   0   3    0    0    0    0    0    0    0    0    0    0    0        16107    0        16107  2016
1        Angola   91   98    0    1   4422  610          0          0   21    143    0    0     0     0    4    0    0     0    0     0     0  669   25    0   29  100    0    7    0     6      0     0     0     0    2    8  18   67    0    2    0    0    0   24   45   10    0    0       0       0       0       0       0       0       0    0    0    2    0    0    3    0    0    0    0    1    1    0    0    0   0   0    0    0    0    0    0    0    0    0    0    0    0         6409    0         6409  2016
2         Benin   40  109    0    8   1601    5          0          0    5      0    0   14     0     0    4    0    0     0    0     0     0  185    4    0   25   68    0   58    0     9      0     0     0     0    0    1   7   53    4   16    0    1    0    2    0    0    0    0       0       0       0       0       0       0       0    0    0    0    0    0    1    0    0    0    0    1    0    0    0    0   0   0    0    0    0    0    0    0    0    0    0    0    0         2221    0         2221  2016
3      Botswana    7   87    0    6    974   10          0          0    4     11    0    1     0     0    0    0    0     0    0     1     0   66    6    0    0   44    0   15    0    12      0     0     1     0   15    3   2  105   11    3    0    0    0    2    1    6    1    0       0       0       0       0       0       0       0    0    0    1    0    1    0    0    0    0   27    0    0    0    0    0   0   0    0    0    0    0    0    0    0    0    0    0    0         1423    0         1423  2016
4  Burkina Faso   21   91    1   12   4811    5          0          0    4      0    0   16     0     0    1    0    1     0    0     0     0  630    5    0   25  105    1   61    2     6      0     0     0     0    0    1  17   64    7   15    0    0    0    0    2    1    0    0       0       0       0       0       0       0       0    1    0    2    0    0    3    0   12    0    0    2    0    0    0    0   0   0    0    0    0    0    0    0    0    0    0    0    0         5925    0         5925  2016

In [21]:
# Total H-2A visas issued in 2016
total_2016 = df_2016['H-2A'].sum()
total_2016

134368

In [22]:
# Subset 3 columns: Country, H-2A, Total Visas & sort by top 5 countries with most H-2A visas
subset_2016 = df_2016[['Country', 'Year', 'H-2A', 'Total Visas']]
top5_2016 = subset_2016.sort_values(by=['H-2A'], ascending=False).head(5)
top5_2016

          Country  Year    H-2A  Total Visas
165        Mexico  2016  123231      1400179
164       Jamaica  2016    4295       120262
44   South Africa  2016    2335        61273
161     Guatemala  2016    1680        60845
194          Peru  2016     874        95252

## H-2A Visas Issued by Country FY2017

In [23]:
# Read in 2017
df_2017 = pd.read_excel('../data_clean/FY2017_H2A_by_country_clean.xlsx')
df_2017['Year'] = '2017'
df_2017.head()

        Country  A-1  A-2  A-3  B-1  B-1,2  B-2  B-1,2/BCC  B-1,2/BCV  C-1  C-1/D  C-2  C-3  CW-1  CW-2   D  E-1  E-2  E-2C  E-3  E-3D  E-3R  F-1  F-2  F-3  G-1  G-2  G-3  G-4  G-5  H-1B  H-1B1  H-1C  H-2A  H-2B  H-3  H-4   I  J-1  J-2  K-1  K-2  K-3  K-4  L-1  L-2  M-1  M-2  M-3  NATO-1  NATO-2  NATO-3  NATO-4  NATO-5  NATO-6  NATO-7  N-8  N-9  O-1  O-2  O-3  P-1  P-2  P-3  P-4  Q-1  R-1  R-2  S-5  S-6  S-7  TN  TD  T-1  T-2  T-3  T-4  T-5  T-6  U-1  U-2  U-3  U-4  U-5  Total Visas  BCC  Grand Total  Year
0       Algeria   26  306    0   84  11898   19          0          0    9      2    0    0     0     0  82    0    1     0    0     0     0  203    6    0   39   57    0   53    0    12      0     0     0     0    0    6   9  258   27   55    1    0    0   24   23   93    0    0       0       0       0       0       0       0       0    0    0    2    0    2   25    0    0    0    0    0    0    0    0    0   0   1    0    0    0    0    0    0    0    0    0    0    0        13323    0        13323  2017
1        Angola   81   93    0    7   4786  793          0          0   11    125    0    1     0     0   0    0    1     0    0     0     0  672   47    0   69   97    0    9    1     5      0     0     0     0    1    2  18   61    5    3    0    0    0   32   41   11    0    0       0       0       0       0       0       0       0    0    0    3    0    0    1    0    0    0    0    1    0    0    0    0   0   0    0    0    0    0    0    0    0    0    0    0    0         6977    0         6977  2017
2         Benin   22   88    2    4   1426    2          0          0    8      0    0    8     0     0   6    0    0     0    0     0     0  136    5    0   25   80    0   65    0     9      0     0     0     0    0    6   2   40    0   12    0    0    0    1    0    0    0    0       0       0       0       0       0       0       0    0    0    1    0    1    0    0    0    0    0    4    0    0    0    0   0   0    0    0    0    0    0    0    0    0    0    0    0         1953    0         1953  2017
3      Botswana   12  146    2   10    963    0          0          0   47     17    0    3     0     0   0    0    0     0    0     0     0   70    6    0    7   73    0   17    4     2      0     0     1     0    0    0   0  100    0    0    0    0    0    1    1    2    0    0       0       0       0       0       0       0       0    1    0    0    0    0    3    0    0    0   13    0    0    0    0    0   0   0    0    0    0    0    0    0    0    0    0    0    0         1501    0         1501  2017
4  Burkina Faso   21  101    1    4   2186    7          0          0    1      0    0   11     0     0   0    0    0     0    0     0     0  305    7    0   18   70    0   88    0    11      0     0     0     0    0    0   6   57    0   13    3    0    0    1    5    0    0    0       0       0       0       0       0       0       0    1    0    0    0    0   10    0    0    0    0    2    0    0    0    0   0   0    0    0    0    0    0    0    0    0    0    0    0         2929    0         2929  2017

In [24]:
# Total H-2A visas issued in 2017
total_2017 = df_2017['H-2A'].sum()
total_2017

161583

In [25]:
# Subset 3 columns: Country, H-2A, Total Visas & sort by top 5 countries with most H-2A visas
subset_2017 = df_2017[['Country', 'Year', 'H-2A', 'Total Visas']]
top5_2017 = subset_2017.sort_values(by=['H-2A'], ascending=False).head(5)
top5_2017

          Country  Year    H-2A  Total Visas
165        Mexico  2017  147272      1385744
164       Jamaica  2017    4845        89538
161     Guatemala  2017    3451        50973
44   South Africa  2017    2800        61839
194          Peru  2017     942        98013

## H-2A Visas Issued by Country FY2018

In [26]:
# Read in 2018
df_2018 = pd.read_excel('../data_clean/FY2018_H2A_by_country_clean.xlsx')
df_2018['Year'] = '2018'
df_2018.head()

        Country  A-1  A-2  A-3  B-1  B-1,2  B-2  B-1,2/BCC  B-1,2/BCV  C-1  C-1/D  C-2  C-3  CW-1  CW-2   D  E-1  E-2  E-2C  E-3  E-3D  E-3R  F-1  F-2  F-3  G-1  G-2  G-3  G-4  G-5  H-1B  H-1B1  H-1C  H-2A  H-2B  H-3  H-4   I  J-1  J-2  K-1  K-2  K-3  K-4  L-1  L-2  M-1  M-2  M-3  NATO-1  NATO-2  NATO-3  NATO-4  NATO-5  NATO-6  NATO-7  N-8  N-9  O-1  O-2  O-3  P-1  P-2  P-3  P-4  Q-1  R-1  R-2  S-5  S-6  S-7  TN  TD  T-1  T-2  T-3  T-4  T-5  T-6  U-1  U-2  U-3  U-4  U-5  Total Visas  BCC  Grand Total  Year
0       Algeria   50  195    0    8  13641   27          0          0   17      6    0    5     0     0  98    0    3     0    0     0     0  179    5    0   35   59    2   50    0    11      0     0     0     0    0    5   3  224   17   79    0    0    0   24   31   16    0    0       0       0       0       0       0       0       0    0    0    5    0    1   14    0    2    0    0    1    1    0    0    0   0   0    0    0    0    0    0    0    0    0    0    0    0        14814    0        14814  2018
1        Angola   97  191    0    5   4546  991          0          0    0    111    0    2     0     0   1    0    0     0    0     0     0  532   17    0   41  203    0   24    0     4      0     0     0     0    0    0  22   64    0    0    0    0    0   24   23    6    0    0       0       0       0       0       0       0       0    0    0    3    0    0    1    0    1    0    0    2    1    0    0    0   0   0    0    0    0    0    0    0    0    0    0    0    0         6912    0         6912  2018
2         Benin   45   81    1    4   1439    6          0          0    9      0    0    3     0     0   1    0    0     0    0     0     0   98    3    0   28   72    0   61    1     5      0     0     0     0    0    0   2   48    6    3    0    0    0    0    0    0    0    0       0       0       0       0       0       0       0    0    0    2    0    5    0    0    7    0    0    7    0    0    0    0   0   0    0    0    0    0    0    0    0    0    0    0    0         1937    0         1937  2018
3      Botswana   23  113    1   13    938    2          0          0   23     18    0   10     0     0   0    0    0     0    0     0     0   58    2    0    0   54    0   22    2     5      0     0     2     0    0    3   7   78    7    0    0    0    0    1    0    2    0    0       0       0       0       0       0       0       0    0    0    1    0    0    0    1   42    0    9    0    0    0    0    0   0   0    0    0    0    0    0    0    0    0    0    0    0         1437    0         1437  2018
4  Burkina Faso   19   87    1    8   1646    4          0          0    7      0    0   14     0     0   1    0    0     0    0     0     0  235    7    0    3   60    0   57    1     6      0     0     0     0    0    0   9   71    7    4    0    0    0    2    1    2    0    0       0       0       0       0       0       0       0    1    0    1    0    3    0    0    2    1    0    1    0    0    0    0   0   0    0    0    0    0    0    0    0    1    0    0    0         2262    0         2262  2018

In [27]:
# Total H-2A visas issued in 2018
total_2018 = df_2018['H-2A'].sum()
total_2018

196409

In [28]:
# Subset 3 columns: Country, H-2A, Total Visas & sort by top 5 countries with most H-2A visas
subset_2018 = df_2018[['Country', 'Year', 'H-2A', 'Total Visas']]
top5_2018 = subset_2018.sort_values(by=['H-2A'], ascending=False).head(5)
top5_2018

          Country  Year    H-2A  Total Visas
165        Mexico  2018  180420      1372420
164       Jamaica  2018    5251        72763
161     Guatemala  2018    3936        47262
45   South Africa  2018    3562        68950
194          Peru  2018     946        94891

## H-2A Visas Issued by Country FY2019

In [29]:
# Read in 2019
df_2019 = pd.read_excel('../data_clean/FY2019_H2A_by_country_clean.xlsx')
df_2019['Year'] = '2019'
df_2019.head()

        Country  A-1  A-2  A-3  B-1  B-1,2  B-2  B-1,2/BCC  B-1,2/BCV  C-1  C-1/D  C-2  C-3  CW-1  CW-2    D  E-1  E-2  E-2C  E-3  E-3D  E-3R  F-1  F-2  F-3  G-1  G-2  G-3  G-4  G-5  H-1B  H-1B1  H-1C  H-2A  H-2B  H-3  H-4   I  J-1  J-2  K-1  K-2  K-3  K-4  L-1  L-2  M-1  M-2  M-3  NATO-1  NATO-2  NATO-3  NATO-4  NATO-5  NATO-6  NATO-7  N-8  N-9  O-1  O-2  O-3  P-1  P-2  P-3  P-4  Q-1  R-1  R-2  S-5  S-6  S-7  TN  TD  T-1  T-2  T-3  T-4  T-5  T-6  U-1  U-2  U-3  U-4  U-5  Total Visas  BCC  Grand Total  Year
0       Algeria   48  160    0   10  13528   11          0          0   27      2    0    1     0     0  104    0    1     0    0     0     0  145   11    0   27   67    0   51    1    12      0     0     0     0    0    4  17  223   34   80    1    0    0   24   24    5    0    0       0       0       0       0       0       0       0    0    0    1    1    1   11    0    1    0    0    1    1    0    0    0   0   1    0    0    0    0    0    0    0    0    0    0    0        14636    0        14636  2019
1        Angola   64  181    0    5   3221  453          0          0    0     93    1    0     0     0    0    0    0     0    0     0     0  408   23    0   52  205    0   31    0     3      0     0     0     0    0    0  11   54    0    9    0    0    0   27   62   10    0    0       0       0       0       0       0       0       0    0    0    3    0    0    2    0    2    0    0    2    0    0    0    0   0   0    0    0    0    0    0    0    0    0    0    0    0         4922    0         4922  2019
2         Benin   15   72    1    3   1417    5          0          0   21      0    0    2     0     0   13    0    0     0    0     0     0   95    5    0    8   44    0   49    0     8      0     0     0     0    0    4   0   39    1   15    3    0    0    0    0    0    0    0       0       0       0       0       0       0       0    1    0    1    0    0    7    0   13    0    0    7    0    0    0    0   0   0    0    0    0    0    0    0    0    0    0    0    0         1849    0         1849  2019
3      Botswana   16   84    1   39    969   18          0          0   28      9    0    0     0     0    0    0    0     0    0     0     0   78    9    0   11   50    0   20    1     9      0     0     1     1   10    2  12   96    4    2    1    0    0    0    0    1    0    0       0       2       0       0       0       0       0    0    0    1    0    0    0    0    0    0    0    0    0    0    0    0   0   0    0    0    0    0    0    0    0    0    0    0    0         1475    0         1475  2019
4  Burkina Faso   18  125    0    1   1832    1          0          0    6      0    0    3     0     0    3    0    0     0    0     0     0  270   11    0    7   76    0   54    0     7      0     0     0     0    0    4  12   57    1   20    5    0    0    0    1    1    0    0       0       0       0       0       0       0       0    0    0    3    0    0    9    0    2    0    1    4    0    0    0    0   0   0    0    0    0    0    0    0    0    0    0    0    0         2534    0         2534  2019

In [30]:
# Total H-2A visas issued in 2019
total_2019 = df_2019['H-2A'].sum()
total_2019

204801

In [31]:
# Subset 3 columns: Country, H-2A, Total Visas & sort by top 5 countries with most H-2A visas
subset_2019 = df_2019[['Country', 'Year', 'H-2A', 'Total Visas']]
top5_2019 = subset_2019.sort_values(by=['H-2A'], ascending=False).head(5)
top5_2019

          Country  Year    H-2A  Total Visas
165        Mexico  2019  188758      1471148
164       Jamaica  2019    5030        70931
45   South Africa  2019    4816        66331
161     Guatemala  2019    2537        50471
194          Peru  2019     974       110227

## H-2A Visas Issued by Country FY2020

In [32]:
# Read in 2020
df_2020 = pd.read_excel('../data_clean/FY2020_H2A_by_country_clean.xlsx')
df_2020['Year'] = '2020'
df_2020.head()

        Country  A-1  A-2  A-3  B-1  B-1,2  B-2  B-1,2/BCC  B-1,2/BCV  C-1  C-1/D  C-2  C-3  CW-1  CW-2   D  E-1  E-2  E-2C  E-3  E-3D  E-3R  F-1  F-2  F-3  G-1  G-2  G-3  G-4  G-5  H-1B  H-1B1  H-1C  H-2A  H-2B  H-3  H-4  I  J-1  J-2  K-1  K-2  K-3  K-4  L-1  L-2  M-1  M-2  M-3  NATO-1  NATO-2  NATO-3  NATO-4  NATO-5  NATO-6  NATO-7  N-8  N-9  O-1  O-2  O-3  P-1  P-2  P-3  P-4  Q-1  R-1  R-2  S-5  S-6  S-7  TN  TD  T-1  T-2  T-3  T-4  T-5  T-6  U-1  U-2  U-3  U-4  U-5  Total Visas  BCC  Grand Total  Year
0       Algeria   26   55    0    3   5892    0          0          0   15      0    0    0     0     0  70    0    1     0    0     0     0   44    4    0    6   11    0   32    0     4      0     0     0     0  0.0    1  0   74    7   50    2    0    0    7   10    3    0    0       0       0       0       0       0       0       0    0    0    3    1    1    8    0    1    0    0    0    0    0    0    0   0   1    0    0    0    0    0    0    0    0    0    0    0         6332    0         6332  2020
1        Angola   49   56    2    5   1307  135          0          0    2     44    0    0     0     0   0    0    0     0    0     0     0  143    3    0   24   34    0   18    0     1      0     0     0     0  0.0    0  2   17    5    2    0    0    0   23   12    1    0    0       0       0       0       0       0       0       0    0    0    2    0    0    2    0    0    0    0    0    0    0    0    0   0   0    0    0    0    0    0    0    0    0    0    0    0         1889    0         1889  2020
2         Benin    7   39    0    0    691    1          0          0    1      0    0    1     0     0   1    0    0     0    0     0     0   90    2    0    3   24    0   43    0     4      0     0     0     0  0.0    1  2   21    4    7    1    0    0    0    0    0    0    0       0       0       0       0       0       0       0    0    0    1    0    0    0    0    1    0    0    0    0    0    0    0   0   0    0    0    0    0    0    0    0    0    0    0    0          945    0          945  2020
3      Botswana    6   41    0    2    495    0          0          0    3      3    0    4     0     0   0    0    0     0    0     0     0   29    3    0    6   34    0   10    1     3      0     0     1     0  0.0    0  1   21    3    1    0    0    0    0    0    1    0    0       0       0       0       0       0       0       0    0    0    0    0    0    0    0    0    0    0    0    0    0    0    0   0   0    0    0    0    0    0    0    0    0    0    0    0          668    0          668  2020
4  Burkina Faso   17   28    0    1    757    0          0          0    4      0    0    2     0     0   1    0    0     0    0     0     0   78    0    0   34   49    0   40    0     1      0     0     0     0  0.0    3  2   17    8    7    0    0    0    0    0    1    0    0       0       0       0       0       0       0       0    0    0    0    1    0    2    0    0    0    0    1    0    0    0    0   0   0    0    0    0    0    0    0    0    0    0    0    0         1054    0         1054  2020

In [33]:
# Total H-2A visas issued in 2019
total_2020 = df_2020['H-2A'].sum()
total_2020

213394

In [34]:
# Subset 3 columns: Country, H-2A, Total Visas & sort by top 5 countries with most H-2A visas
subset_2020 = df_2020[['Country', 'Year', 'H-2A', 'Total Visas']]
top5_2020 = subset_2020.sort_values(by=['H-2A'], ascending=False).head(5)
top5_2020

          Country  Year    H-2A  Total Visas
165        Mexico  2020  197908       960095
45   South Africa  2020    5508        35550
164       Jamaica  2020    4659        28068
161     Guatemala  2020    2123        27155
166     Nicaragua  2020     693         7598

## Combine top5 DataFrames for each year into one big DataFrame
- Used concat because merge only combines two DataFrames

In [36]:
top5_all = pd.concat([top5_2010, top5_2011, top5_2012, top5_2013, top5_2014, top5_2015, top5_2016, top5_2017, top5_2018, top5_2019, top5_2020])
top5_all

          Country  Year    H-2A  Total Visas
165        Mexico  2010   52317    1130478.0
44   South Africa  2010    1123      51052.0
194          Peru  2010     830      64976.0
161     Guatemala  2010     660      52378.0
134       Romania  2010     206      31647.0
166        Mexico  2011   51927    1315116.0
44   South Africa  2011    1018      60152.0
195          Peru  2011     809      70850.0
162     Guatemala  2011     624      57401.0
167     Nicaragua  2011     240      15089.0
166        Mexico  2012   61324    1693133.0
44   South Africa  2012    1122      62516.0
195          Peru  2012     993      75701.0
162     Guatemala  2012     702      59134.0
167     Nicaragua  2012     260      16911.0
165        Mexico  2013   69787    1510106.0
44   South Africa  2013    1298      59038.0
161     Guatemala  2013     982      51513.0
194          Peru  2013     838      83651.0
166     Nicaragua  2013     276      20052.0
165        Mexico  2014   83674    1478401.0
44   South Africa  2014    1591      60238.0
161     Guatemala  2014    1453      62818.0
194          Peru  2014     790     100726.0
163      Honduras  2014     525      47548.0
165        Mexico  2015  102174    1479109.0
44   South Africa  2015    1947      61997.0
161     Guatemala  2015    1426      55618.0
194          Peru  2015    1019     111918.0
166     Nicaragua  2015     363      19656.0
165        Mexico  2016  123231    1400179.0
164       Jamaica  2016    4295     120262.0
44   South Africa  2016    2335      61273.0
161     Guatemala  2016    1680      60845.0
194          Peru  2016     874      95252.0
165        Mexico  2017  147272    1385744.0
164       Jamaica  2017    4845      89538.0
161     Guatemala  2017    3451      50973.0
44   South Africa  2017    2800      61839.0
194          Peru  2017     942      98013.0
165        Mexico  2018  180420    1372420.0
164       Jamaica  2018    5251      72763.0
161     Guatemala  2018    3936      47262.0
45   South Africa  2018    3562      68950.0
194          Peru  2018     946      94891.0
165        Mexico  2019  188758    1471148.0
164       Jamaica  2019    5030      70931.0
45   South Africa  2019    4816      66331.0
161     Guatemala  2019    2537      50471.0
194          Peru  2019     974     110227.0
165        Mexico  2020  197908     960095.0
45   South Africa  2020    5508      35550.0
164       Jamaica  2020    4659      28068.0
161     Guatemala  2020    2123      27155.0
166     Nicaragua  2020     693       7598.0