# H-2A VISAS ISSUED BY COUNTRY (2010-2020)
- Source: https://travel.state.gov/content/travel/en/legal/visa-law0/visa-statistics/nonimmigrant-visa-statistics.html
- Datasets were cleaned in Excel to remove irrelevant rows (eg. subtotals and blank rows)

In [ ]:
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import requests as re

Extra resource in case I want to read in a specific range:
- https://stackoverflow.com/questions/38560748/python-pandas-dataframe-reading-exact-specified-range-in-an-excel-sheet

## H-2A Visas Issued by Country FY2010

In [ ]:
# Read in 2010
df_2010 = pd.read_excel('../data_visasbycountry/FY2010_H2A_by_country_clean.xls')
df_2010['Year'] = '2010'
df_2010.head()

In [ ]:
# Total H-2A visas issued in 2010
total_2010 = df_2010['H-2A'].sum()
total_2010

In [ ]:
# Subset 3 columns: Country, H-2A, Total Visas & sort by top 5 countries with most H-2A visas
subset_2010 = df_2010[['Country', 'Year', 'H-2A', 'Total Visas']]
top5_2010 = subset_2010.sort_values(by=['H-2A'], ascending=False).head(5)
top5_2010

## H-2A Visas Issued by Country FY2011

In [ ]:
# Read in 2011
df_2011 = pd.read_excel('../data_visasbycountry/FY2011_H2A_by_country_clean.xls')
df_2011['Year'] = '2011'
df_2011.head()

In [ ]:
# Total H-2A visas issued in 2011
total_2011 = df_2011['H-2A'].sum()
total_2011

In [ ]:
# Subset 3 columns: Country, H-2A, Total Visas & sort by top 5 countries with most H-2A visas
subset_2011 = df_2011[['Country', 'Year', 'H-2A', 'Total Visas']]
top5_2011 = subset_2011.sort_values(by=['H-2A'], ascending=False).head(5)
top5_2011

## H-2A Visas Issued by Country FY2012

In [ ]:
# Read in 2012
df_2012 = pd.read_excel('../data_visasbycountry/FY2012_H2A_by_country_clean.xls')
df_2012['Year'] = '2012'
df_2012.head()

In [ ]:
# Total H-2A visas issued in 2012
total_2012 = df_2012['H-2A'].sum()
total_2012

In [ ]:
# Subset 3 columns: Country, H-2A, Total Visas & sort by top 5 countries with most H-2A visas
subset_2012 = df_2012[['Country', 'Year', 'H-2A', 'Total Visas']]
top5_2012 = subset_2012.sort_values(by=['H-2A'], ascending=False).head(5)
top5_2012

## H-2A Visas Issued by Country FY2013

In [ ]:
# Read in 2013
df_2013 = pd.read_excel('../data_visasbycountry/FY2013_H2A_by_country_clean.xls')
df_2013['Year'] = '2013'
df_2013.head()

In [ ]:
# Total H-2A visas issued in 2013
total_2013 = df_2013['H-2A'].sum()
total_2013

In [ ]:
# Subset 3 columns: Country, H-2A, Total Visas & sort by top 5 countries with most H-2A visas
subset_2013 = df_2013[['Country', 'Year', 'H-2A', 'Total Visas']]
top5_2013 = subset_2013.sort_values(by=['H-2A'], ascending=False).head(5)
top5_2013

## H-2A Visas Issued by Country FY2014

In [ ]:
# Read in 2014
df_2014 = pd.read_excel('../data_visasbycountry/FY2014_H2A_by_country_clean.xls')
df_2014['Year'] = '2014'
df_2014.head()

In [ ]:
# Total H-2A visas issued in 2014
total_2014 = df_2014['H-2A'].sum()
total_2014

In [ ]:
# Subset 3 columns: Country, H-2A, Total Visas & sort by top 5 countries with most H-2A visas
subset_2014 = df_2014[['Country', 'Year', 'H-2A', 'Total Visas']]
top5_2014 = subset_2014.sort_values(by=['H-2A'], ascending=False).head(5)
top5_2014

## H-2A Visas Issued by Country FY2015

In [ ]:
# Read in 2015
df_2015 = pd.read_excel('../data_visasbycountry/FY2015_H2A_by_country_clean.xls')
df_2015['Year'] = '2015'
df_2015.head()

In [ ]:
# Total H-2A visas issued in 2015
total_2015 = df_2015['H-2A'].sum()
total_2015

In [ ]:
# Subset 3 columns: Country, H-2A, Total Visas & sort by top 5 countries with most H-2A visas
subset_2015 = df_2015[['Country', 'Year', 'H-2A', 'Total Visas']]
top5_2015 = subset_2015.sort_values(by=['H-2A'], ascending=False).head(5)
top5_2015

## H-2A Visas Issued by Country FY2016

In [ ]:
# Read in 2016
df_2016 = pd.read_excel('../data_visasbycountry/FY2016_H2A_by_country_clean.xls')
df_2016['Year'] = '2016'
df_2016.head()

In [ ]:
# Total H-2A visas issued in 2016
total_2016 = df_2016['H-2A'].sum()
total_2016

In [ ]:
# Subset 3 columns: Country, H-2A, Total Visas & sort by top 5 countries with most H-2A visas
subset_2016 = df_2016[['Country', 'Year', 'H-2A', 'Total Visas']]
top5_2016 = subset_2016.sort_values(by=['H-2A'], ascending=False).head(5)
top5_2016

## H-2A Visas Issued by Country FY2017

In [ ]:
# Read in 2017
df_2017 = pd.read_excel('../data_visasbycountry/FY2017_H2A_by_country_clean.xlsx')
df_2017['Year'] = '2017'
df_2017.head()

In [ ]:
# Total H-2A visas issued in 2017
total_2017 = df_2017['H-2A'].sum()
total_2017

In [ ]:
# Subset 3 columns: Country, H-2A, Total Visas & sort by top 5 countries with most H-2A visas
subset_2017 = df_2017[['Country', 'Year', 'H-2A', 'Total Visas']]
top5_2017 = subset_2017.sort_values(by=['H-2A'], ascending=False).head(5)
top5_2017

## H-2A Visas Issued by Country FY2018

In [ ]:
# Read in 2018
df_2018 = pd.read_excel('../data_visasbycountry/FY2018_H2A_by_country_clean.xlsx')
df_2018['Year'] = '2018'
df_2018.head()

In [ ]:
# Total H-2A visas issued in 2018
total_2018 = df_2018['H-2A'].sum()
total_2018

In [ ]:
# Subset 3 columns: Country, H-2A, Total Visas & sort by top 5 countries with most H-2A visas
subset_2018 = df_2018[['Country', 'Year', 'H-2A', 'Total Visas']]
top5_2018 = subset_2018.sort_values(by=['H-2A'], ascending=False).head(5)
top5_2018

## H-2A Visas Issued by Country FY2019

In [ ]:
# Read in 2019
df_2019 = pd.read_excel('../data_visasbycountry/FY2019_H2A_by_country_clean.xlsx')
df_2019['Year'] = '2019'
df_2019.head()

In [ ]:
# Total H-2A visas issued in 2019
total_2019 = df_2019['H-2A'].sum()
total_2019

In [ ]:
# Subset 3 columns: Country, H-2A, Total Visas & sort by top 5 countries with most H-2A visas
subset_2019 = df_2019[['Country', 'Year', 'H-2A', 'Total Visas']]
top5_2019 = subset_2019.sort_values(by=['H-2A'], ascending=False).head(5)
top5_2019

## H-2A Visas Issued by Country FY2020

In [ ]:
# Read in 2020
df_2020 = pd.read_excel('../data_visasbycountry/FY2020_H2A_by_country_clean.xlsx')
df_2020['Year'] = '2020'
df_2020.head()

In [ ]:
# Total H-2A visas issued in 2019
total_2020 = df_2020['H-2A'].sum()
total_2020

In [ ]:
# Subset 3 columns: Country, H-2A, Total Visas & sort by top 5 countries with most H-2A visas
subset_2020 = df_2020[['Country', 'Year', 'H-2A', 'Total Visas']]
top5_2020 = subset_2020.sort_values(by=['H-2A'], ascending=False).head(5)
top5_2020

## Combine top5 DataFrames for each year into one big DataFrame
- Used concat because merge only combines two DataFrames

In [ ]:
top5_all = pd.concat([top5_2010, top5_2011, top5_2012, top5_2013, top5_2014, top5_2015, top5_2016, top5_2017, top5_2018, top5_2019, top5_2020])
top5_all.rename({'H-2A': 'H2A'}, axis=1, inplace=True)
top5_all.reset_index(inplace=True)
top5_all
# 55 rows

In [ ]:
four_c = top5_all[(top5_all['Year'].isin(['2010','2011','2012','2013','2014','2015','2016','2017','2018','2019','2020'])) & (top5_all['Country'].isin(['Mexico', 'South Africa', 'Peru', 'Guatemala','Romania','Nicaragua','Honduras','Jamaica']))]
four_c = four_c.sort_values(["Year"], ascending=[True])
plt.figure(figsize=(10, 8))
sns.lineplot(data=four_c, x="Year", y="H2A", hue="Country", marker='o', linewidth=2)
plt.title('H-2A Visas by Top 5 Countries of Birth, 2010-2020', fontsize=16)
plt.xlabel('')
plt.ylabel('Number of H-2A Visas Issued', fontsize=14);

In [ ]:
# Uh how about without Mexico
four_c = top5_all[(top5_all['Year'].isin(['2010','2011','2012','2013','2014','2015','2016','2017','2018','2019','2020'])) & (top5_all['Country'].isin(['South Africa', 'Peru', 'Guatemala','Romania','Nicaragua','Honduras','Jamaica']))]
four_c = four_c.sort_values(["Year"], ascending=[True])
plt.figure(figsize=(10, 8))
sns.lineplot(data=four_c, x="Year", y="H2A", hue="Country", marker='o', linewidth=2)
plt.title('H-2A Visas by Country of Birth, 2010-2020', fontsize=16)
plt.xlabel('')
plt.ylabel('Number of H-2A Visas Issued', fontsize=14);

Still looks bad. Mexico, South Africa, and Guatemala are the only countries that have data for every year. Romania and Honduras only appear for one year. Nicaragua is missing years in between. Peru doesn't have 2020. Jamaica makes a surprising debut in 2016.<br><br>
Let's change the methodology:
- Calculate percentage of H-2A visas for each country for that year, for the entire decade
- Calculate the average of each country's percentages across the decade
- Barplot the top 5 averages, then compare their year by years

In [ ]:
# Make a df out of all the years
huge_df = pd.concat([df_2010, df_2011, df_2012, df_2013, df_2014, df_2015, df_2016, df_2017, df_2018, df_2019, df_2020])
# Stinkin' hyphen
huge_df.rename({'H-2A': 'H2A'}, axis=1, inplace=True)

In [ ]:
# Partition by Country https://stackoverflow.com/questions/35905335/aggregation-over-partition-pandas-dataframe
huge_df['avg_visas'] = huge_df.groupby('Country').H2A.transform(np.mean)
huge_df.head()

In [ ]:
# Subset to desired columns
avg_df = huge_df[['Country', 'Year', 'H2A', 'avg_visas']]
avg_df = avg_df.sort_values(by=['avg_visas', 'Country'], ascending=False)
avg_df[:55]
# Top 5 countries of birth by avg number of H-2A visas from 2010-2020

## Top 5 Countries of Birth of H-2A Workers
- Mexico, South Africa, Jamaica, Guatemala, Peru

In [ ]:
avg_total = (total_2010+total_2011+total_2012+total_2013+total_2014+total_2015+total_2016+total_2017+total_2018+total_2019+total_2020)/11
avg_total # 123529 (rounded up)

In [ ]:
# Mexico
mexico_avg = 114436

In [ ]:
# South Africa
sa_avg = 2465

In [ ]:
# Jamaica
jamaica_avg = 2190

In [ ]:
# Guatemala
guatemala_avg = 1779

In [ ]:
# Peru
peru_avg = 868

In [ ]:
msjgp = ['Mexico','South Africa','Jamaica','Guatemala','Peru']
msjgp_perc = [mexico_avg, sa_avg, jamaica_avg, guatemala_avg, peru_avg]
top5_avgs = pd.DataFrame(list(zip(msjgp, msjgp_perc)))
top5_avgs.rename({0:'Country', 1:'Avg_Num_H2A'}, axis=1, inplace=True)
top5_avgs

In [ ]:
plt.figure(figsize=(14, 10))
sns.set(style="whitegrid")
sns.set(font_scale=1.5)
ax = sns.barplot(data=top5_avgs, x="Country", y="Avg_Num_H2A")
ax.bar_label(ax.containers[0])
plt.title('Where are H-2A workers from?', fontsize=22)
plt.xlabel('')
plt.ylabel('Average number of H-2A visas issued (2010-2020)', fontsize=16);