# Converting TLC SQL Queries to Python DataFrames

### Capstone Question: Is there a correlation between the number and job titles of H-2A workers and crop yields, based on job titles including those crops?

In [ ]:
from sqlalchemy import create_engine
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import requests as re

First, we need to create a connection string. The format is

 ```<dialect(+driver)>://<username>:<password>@<hostname>:<port>/<database>```

To connect to a database, you can use the following connection string.

In [ ]:
database_name = 'ag_aid'

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

Now, we need to create an engine and use it to connect.

In [ ]:
engine = create_engine(connection_string)

Now, we can create our query and pass it into the `.query()` method.

## Most common jobs for H-2A workers

In [ ]:
query_jobs = '''
WITH cte AS (
SELECT TRIM(UPPER(job_title)) AS title,
    COUNT(TRIM(UPPER(job_title))) AS ct
FROM main
GROUP BY job_title
ORDER BY ct DESC)

SELECT DISTINCT title,
    ct,
    SUM(ct) OVER (PARTITION BY title) AS sum
FROM cte
GROUP BY title, ct
ORDER BY sum DESC;
'''

result = engine.execute(query_jobs)

In [ ]:
jobs = pd.read_sql(query_jobs, con = engine)

# Rows
len(jobs.index)

## Total workers - Citrus (lemons, oranges)

In [ ]:
query_cit = '''
WITH cit AS (
SELECT
    (RIGHT(begin_date,2)::int) AS year,
    job_title,
    workers_req,
    SUM(workers_req::FLOAT) OVER() as wr_total,
    employer_state,
    worksite_state
FROM main
WHERE job_title ILIKE '%%citrus%%'
    AND (RIGHT(begin_date,2)::int) >= 10
GROUP BY year, job_title, employer_state, workers_req, worksite_state
ORDER BY year)

SELECT year,
    job_title,
    workers_req,
    wr_total,
    SUM(workers_req::FLOAT) OVER(PARTITION BY year) AS wr_total_year,
    employer_state,
    worksite_state
FROM cit
'''

result = engine.execute(query_cit)

In [ ]:
#result.fetchone() gets one record as tuple
#result.fetchall() gets all records as tuples
#people = pd.DataFrame(data, 'user')

In [ ]:
cit = pd.read_sql(query_cit, con = engine)
cit["workers_req"] = pd.to_numeric(cit["workers_req"])
cit['year'] = cit['year'].map({10:2010, 11:2011, 12:2012, 13:2013, 14:2014, 15:2015, 16:2016, 17:2017, 18:2018, 19:2019, 20:2020})

# Rows
len(cit.index)

In [ ]:
annual_cit = cit[['year', 'wr_total', 'wr_total_year']]
annual_cit['crop']='Citrus'

# Drop dupe rows to get unique years
annual_cit = annual_cit.drop_duplicates()
annual_cit

In [ ]:
annual_cit["wr_total_year"].mean()

In [ ]:
plt.figure(figsize=(16, 8))
sns.set(style="whitegrid")
sns.set(font_scale=1.5)
ax = sns.lineplot(data=annual_cit, x="year", y="wr_total_year", marker='o', color='orange')
ax.axhline(5241, color='silver')
plt.title('H-2A Workers in Citrus Jobs', fontsize=22)
plt.xticks([2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020])
plt.xlabel('Year')
plt.ylabel('Number of workers', fontsize=16);

## Total workers - Strawberries

In [ ]:
query_straw = '''
WITH str AS (
SELECT
    (RIGHT(begin_date,2)::int) AS year,
    job_title,
    workers_req,
    SUM(workers_req::FLOAT) OVER() as wr_total,
    employer_state,
    worksite_state
FROM main
WHERE job_title ILIKE '%%strawberr%%'
    AND (RIGHT(begin_date,2)::int) >= 10
GROUP BY year, job_title, employer_state, workers_req, worksite_state
ORDER BY year)

SELECT year,
    job_title,
    workers_req,
    wr_total,
    SUM(workers_req::FLOAT) OVER(PARTITION BY year) AS wr_total_year,
    employer_state,
    worksite_state
FROM str
'''

result = engine.execute(query_straw)

In [ ]:
straw = pd.read_sql(query_straw, con = engine)
straw["workers_req"] = pd.to_numeric(straw["workers_req"])
straw['year'] = straw['year'].map({10:2010, 11:2011, 12:2012, 13:2013, 14:2014, 15:2015, 16:2016, 17:2017, 18:2018, 19:2019, 20:2020})

# Rows
len(straw.index)

In [ ]:
annual_straw = straw[['year', 'wr_total', 'wr_total_year']]
annual_straw['crop']='Strawberry'

# Drop dupe rows to get unique years
annual_straw = annual_straw.drop_duplicates()
annual_straw

In [ ]:
annual_straw["wr_total_year"].mean()

In [ ]:
plt.figure(figsize=(16, 8))
sns.set(style="whitegrid")
sns.set(font_scale=1.5)
ax = sns.lineplot(data=annual_straw, x="year", y="wr_total_year", marker='o', color='r')
ax.axhline(2692, color='silver')
plt.title('H-2A Workers in Strawberry Jobs', fontsize=22)
plt.xticks([2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020])
plt.xlabel('Year')
plt.ylabel('Number of workers', fontsize=16);

## Total workers - Sheep

In [ ]:
query_she = '''
WITH she AS (
SELECT
    (RIGHT(begin_date,2)::int) AS year,
    job_title,
    workers_req,
    SUM(workers_req::FLOAT) OVER() as wr_total,
    employer_state,
    worksite_state
FROM main
WHERE job_title ILIKE '%%sheep%%'
    AND (RIGHT(begin_date,2)::int) >= 10
GROUP BY year, job_title, employer_state, workers_req, worksite_state
ORDER BY year)

SELECT year,
    job_title,
    workers_req,
    wr_total,
    SUM(workers_req::FLOAT) OVER(PARTITION BY year) AS wr_total_year,
    employer_state,
    worksite_state
FROM she
'''

result = engine.execute(query_she)

In [ ]:
she = pd.read_sql(query_she, con = engine)
she["workers_req"] = pd.to_numeric(she["workers_req"])
she['year'] = she['year'].map({10:2010, 11:2011, 12:2012, 13:2013, 14:2014, 15:2015, 16:2016, 17:2017, 18:2018, 19:2019, 20:2020})

# Rows
len(she.index)

In [ ]:
annual_she = she[['year', 'wr_total', 'wr_total_year']]
annual_she['crop']='Sheep'

# Drop dupe rows to get unique years
annual_she = annual_she.drop_duplicates()
annual_she

In [ ]:
annual_she["wr_total_year"].mean()

In [ ]:
plt.figure(figsize=(16, 8))
sns.set(style="whitegrid")
sns.set(font_scale=1.5)
ax = sns.lineplot(data=annual_she, x="year", y="wr_total_year", marker='o', color='slategrey')
ax.axhline(1505, color='silver')
plt.title('H-2A Workers in Sheep Jobs', fontsize=22)
plt.xticks([2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020])
plt.xlabel('Year')
plt.ylabel('Number of workers', fontsize=16);

## Total workers - Cattle

In [ ]:
query_cat = '''
WITH cat AS (
SELECT
    (RIGHT(begin_date,2)::int) AS year,
    job_title,
    workers_req,
    SUM(workers_req::FLOAT) OVER() as wr_total,
    employer_state,
    worksite_state
FROM main
WHERE job_title ILIKE '%%cattle%%'
    AND (RIGHT(begin_date,2)::int) >= 10
GROUP BY year, job_title, employer_state, workers_req, worksite_state
ORDER BY year)

SELECT year,
    job_title,
    workers_req,
    wr_total,
    SUM(workers_req::FLOAT) OVER(PARTITION BY year) AS wr_total_year,
    employer_state,
    worksite_state
FROM cat
'''

result = engine.execute(query_cat)

In [ ]:
cat = pd.read_sql(query_cat, con = engine)
cat["workers_req"] = pd.to_numeric(cat["workers_req"])
cat['year'] = cat['year'].map({10:2010, 11:2011, 12:2012, 13:2013, 14:2014, 15:2015, 16:2016, 17:2017, 18:2018, 19:2019, 20:2020})

# Rows
len(cat.index)

In [ ]:
annual_cat = cat[['year', 'wr_total', 'wr_total_year']]
annual_cat['crop']='Cattle'

# Drop dupe rows to get unique years
annual_cat = annual_cat.drop_duplicates()
annual_cat

In [ ]:
annual_cat["wr_total_year"].mean()

In [ ]:
plt.figure(figsize=(16, 8))
sns.set(style="whitegrid")
sns.set(font_scale=1.5)
ax = sns.lineplot(data=annual_cat, x="year", y="wr_total_year", marker='o', color='saddlebrown')
ax.axhline(64, color='silver')
plt.title('H-2A Workers in Cattle Jobs', fontsize=22)
plt.xticks([2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020])
plt.xlabel('Year')
plt.ylabel('Number of workers', fontsize=16);

## Total workers - Lettuce

In [ ]:
query_let = '''
WITH let AS (
SELECT
    (RIGHT(begin_date,2)::int) AS year,
    job_title,
    workers_req,
    SUM(workers_req::FLOAT) OVER() as wr_total,
    employer_state,
    worksite_state
FROM main
WHERE job_title ILIKE '%%lettuce%%'
    AND (RIGHT(begin_date,2)::int) >= 10
GROUP BY year, job_title, employer_state, workers_req, worksite_state
ORDER BY year)

SELECT year,
    job_title,
    workers_req,
    wr_total,
    SUM(workers_req::FLOAT) OVER(PARTITION BY year) AS wr_total_year,
    employer_state,
    worksite_state
FROM let
'''

result = engine.execute(query_let)

In [ ]:
let = pd.read_sql(query_let, con = engine)
let["workers_req"] = pd.to_numeric(let["workers_req"])
let['year'] = let['year'].map({10:2010, 11:2011, 12:2012, 13:2013, 14:2014, 15:2015, 16:2016, 17:2017, 18:2018, 19:2019, 20:2020})

# Rows
len(let.index)

In [ ]:
annual_let = let[['year', 'wr_total', 'wr_total_year']]
annual_let['crop']='Lettuce'

# Drop dupe rows to get unique years
annual_let = annual_let.drop_duplicates()
annual_let

In [ ]:
annual_let["wr_total_year"].mean()

In [ ]:
plt.figure(figsize=(16, 8))
sns.set(style="whitegrid")
sns.set(font_scale=1.5)
ax = sns.lineplot(data=annual_let, x="year", y="wr_total_year", marker='o', color='g')
ax.axhline(474, color='silver')
plt.title('H-2A Workers in Lettuce Jobs', fontsize=22)
plt.xticks([2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020])
plt.xlabel('Year')
plt.ylabel('Number of workers', fontsize=16);

## Total workers - Potatoes (potato, sweet potato)

In [ ]:
query_pot = '''
WITH pot AS (
SELECT
    (RIGHT(begin_date,2)::int) AS year,
    job_title,
    workers_req,
    SUM(workers_req::FLOAT) OVER() as wr_total,
    employer_state,
    worksite_state
FROM main
WHERE job_title ILIKE '%%potato%%'
    AND (RIGHT(begin_date,2)::int) >= 10
GROUP BY year, job_title, employer_state, workers_req, worksite_state
ORDER BY year)

SELECT year,
    job_title,
    workers_req,
    wr_total,
    SUM(workers_req::FLOAT) OVER(PARTITION BY year) AS wr_total_year,
    employer_state,
    worksite_state
FROM pot
'''

result = engine.execute(query_pot)

In [ ]:
pot = pd.read_sql(query_pot, con = engine)
pot["workers_req"] = pd.to_numeric(pot["workers_req"])
pot['year'] = pot['year'].map({10:2010, 11:2011, 12:2012, 13:2013, 14:2014, 15:2015, 16:2016, 17:2017, 18:2018, 19:2019, 20:2020})

# Rows
len(pot.index)

In [ ]:
annual_pot = pot[['year', 'wr_total', 'wr_total_year']]
annual_pot['crop']='Potato'

# Drop dupe rows to get unique years
annual_pot = annual_pot.drop_duplicates()
annual_pot

In [ ]:
annual_pot["wr_total_year"].mean()

In [ ]:
plt.figure(figsize=(16, 8))
sns.set(style="whitegrid")
sns.set(font_scale=1.5)
ax = sns.lineplot(data=annual_pot, x="year", y="wr_total_year", marker='o', color='brown')
ax.axhline(604, color='silver')
plt.title('H-2A Workers in Potato Jobs', fontsize=22)
plt.xticks([2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020])
plt.xlabel('Year')
plt.ylabel('Number of workers', fontsize=16);

## Total workers - Tobacco

In [ ]:
query_tob = '''
WITH tob AS (
SELECT
    (RIGHT(begin_date,2)::int) AS year,
    job_title,
    workers_req,
    SUM(workers_req::FLOAT) OVER() as wr_total,
    employer_state,
    worksite_state
FROM main
WHERE job_title ILIKE '%%tobacco%%'
    AND (RIGHT(begin_date,2)::int) >= 10
GROUP BY year, job_title, employer_state, workers_req, worksite_state
ORDER BY year)

SELECT year,
    job_title,
    workers_req,
    wr_total,
    SUM(workers_req::FLOAT) OVER(PARTITION BY year) AS wr_total_year,
    employer_state,
    worksite_state
FROM tob
'''

result = engine.execute(query_tob)

In [ ]:
tob = pd.read_sql(query_tob, con = engine)
tob["workers_req"] = pd.to_numeric(tob["workers_req"])
tob['year'] = tob['year'].map({10:2010, 11:2011, 12:2012, 13:2013, 14:2014, 15:2015, 16:2016, 17:2017, 18:2018, 19:2019, 20:2020})

# Rows
len(tob.index)

In [ ]:
annual_tob = tob[['year', 'wr_total', 'wr_total_year']]
annual_tob['crop']='Tobacco'

# Drop dupe rows to get unique years
annual_tob = annual_tob.drop_duplicates()
annual_tob

In [ ]:
annual_tob["wr_total_year"].mean()

In [ ]:
plt.figure(figsize=(16, 8))
sns.set(style="whitegrid")
sns.set(font_scale=1.5)
ax = sns.lineplot(data=annual_tob, x="year", y="wr_total_year", marker='o', color='peru')
ax.axhline(360, color='silver')
plt.title('H-2A Workers in Tobacco Jobs', fontsize=22)
plt.xticks([2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020])
plt.xlabel('Year')
plt.ylabel('Number of workers', fontsize=16);

## Total workers - Tomatoes

In [ ]:
query_tom = '''
WITH tom AS (
SELECT
    (RIGHT(begin_date,2)::int) AS year,
    job_title,
    workers_req,
    SUM(workers_req::FLOAT) OVER() as wr_total,
    employer_state,
    worksite_state
FROM main
WHERE job_title ILIKE '%%tomato%%'
    AND (RIGHT(begin_date,2)::int) >= 10
GROUP BY year, job_title, employer_state, workers_req, worksite_state
ORDER BY year)

SELECT year,
    job_title,
    workers_req,
    wr_total,
    SUM(workers_req::FLOAT) OVER(PARTITION BY year) AS wr_total_year,
    employer_state,
    worksite_state
FROM tom
'''

result = engine.execute(query_tom)

In [ ]:
tom = pd.read_sql(query_tom, con = engine)
tom["workers_req"] = pd.to_numeric(tom["workers_req"])
tom['year'] = tom['year'].map({10:2010, 11:2011, 12:2012, 13:2013, 14:2014, 15:2015, 16:2016, 17:2017, 18:2018, 19:2019, 20:2020})

# Rows
len(tom.index)

In [ ]:
annual_tom = tom[['year', 'wr_total', 'wr_total_year']]
annual_tom['crop']='Tomato'

# Drop dupe rows to get unique years
annual_tom = annual_tom.drop_duplicates()
annual_tom

In [ ]:
annual_tom["wr_total_year"].mean()

In [ ]:
plt.figure(figsize=(16, 8))
sns.set(style="whitegrid")
sns.set(font_scale=1.5)
ax = sns.lineplot(data=annual_tom, x="year", y="wr_total_year", marker='o', color='crimson')
ax.axhline(894, color='silver')
plt.title('H-2A Workers in Tomato Jobs', fontsize=22)
plt.xticks([2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020])
plt.xlabel('Year')
plt.ylabel('Number of workers', fontsize=16);

## Concat all 8 crops into one df: crops

In [ ]:
crops = pd.concat([annual_cit, annual_straw, annual_she, annual_cat, annual_let, annual_pot, annual_tob, annual_tom])
crops = crops.reset_index(drop=True)
len(crops.index)

In [ ]:
plt.figure(figsize=(16, 8))
sns.set(style="whitegrid")
sns.set(font_scale=1.5)
ax = sns.lineplot(data=crops, x="year", y="wr_total_year", hue='crop')
plt.title('H-2A Workers across the decade', fontsize=22)
plt.xticks([2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020])
plt.xlabel('Year')
plt.ylabel('Number of workers', fontsize=16);

General increase in number of workers for all crops across the decade until 2020.
- Sheep jobs dropped in 2017, look into why